.modal-wind{
  position: fixed;
  background-color: #130d0db2;/* color of the page when the modal is open */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-wind:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-wind > div {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  background: rgb(178, 196, 209);
}
.modal-wind header {
  font-weight: bold;
}
.modal-wind h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-cl {
  border-radius: 20px;
  color:#b62020;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
}
.modal-cl:hover {
  color: rgb(63, 128, 90);
}
a {
  color: inherit;
  text-decoration: none;
}

.containerTasks {
  display: grid;
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  height: 8vh;
}
.containerTasks:hover{
  /* background-color: rgba(105, 126, 116, 0.397); need to fix this!!!! */
  border-radius: 8px;
  /* width: 300px; */
}
/* //this makes the boxes dont collapse one over the other when page gets smaller  */
.grid-item {
  /* background-color: rgb(214, 219, 228);
  border: 0.01px solid rgba(0, 0, 0, 0.877); */
 text-align: center;
 height: 70px;

}
/* radius of the pop up window */
.modal-wind > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

.btn {
  background-color: rgba(195, 139, 206, 0.569);
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
  border: solid rgba(66, 64, 64, 0.479);
  width: 200px;
  text-align: center;
  height: 28px;
  color:white;
}
.btn i {
  padding-right: 0.3em;
}

  /* ill add gray oka */
  .titl{
    /* font-size: 30px; */
    color: rgb(255, 255, 255);
    background-color: rgb(83, 106, 136);
    border-radius: 10px;
    padding:15px;
  }
  .det{
    /* padding-top: 12px;
    padding-left: 7px; */
    padding:10px;
    color:black;
  }
  .deadline{
    /* padding-top: 5px; */
    padding-left: 10px; 
  }
  .effect{
    color:rgb(28, 0, 128);
    font-weight: bold;
    /* text-decoration: underline; */
    font-family: 'Mulish', sans-serif;
  
  }
