.modal-wind{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);/* color of the page when the modal is open */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-wind:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-wind > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: rgb(168, 163, 163);
}
.modal-wind header {
  font-weight: bold;
}
.modal-wind h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-cl {
  color: rgb(34, 28, 28);
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-cl:hover {
  color: black;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 8vh;
}
/* radius of the pop up window */
.modal-wind > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

.btn {
  background-color: rgb(42, 161, 92);
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
  border: solid green;
  width: 200px;
  text-align: center;
}
.btn i {
  padding-right: 0.3em;
}
