/* Color Customization */
:root {
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
	--school: #40793a;
	--personal: #1662d4;
	--other: #9c109a;
	--light: rgb(219, 211, 211);
	--grey: rgb(95, 95, 95);
	--dark: #3a3a6f;
	--danger: #e45957;
	--school-glow: 0px 0px 4px rgba(78, 237, 20, 0.75);
	--personal-glow: 0px 0px 4px rgba(8, 168, 248, 0.931);
	--other-glow: 0px 0px 4px rgba(248, 8, 232, 0.931);
	--danger-glow: 0px 0px 4px rgba(237, 66, 66, 0.931);
}
body {
	background-color: #e4dce4a1;
	background-image: url('https://assets.codepen.io/1462889/back-page.svg');
    font-family: 'Quicksand', sans-serif;
}
.title{
	background-color: rgba(153, 193, 226, 0.788);;
	width: 220px;
	height: 40px;
	padding-top: 6px;
	text-align: center;
	border-radius: 18px;
	color: white;
	margin-bottom: 20px;
	margin: auto;/*center the title task list in the center */
}
.hello {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align:center;
}
h3 {
    color: var(--dark);
    font-size: 1rem;
	margin-bottom: 1rem;
	padding: 4px;
}
h4 {
	color:#140977c9;
	padding:8px;
}
.taskPriority, .difficulty{
	font-size: 12px;
	font-family: 'Quicksand', sans-serif;
	width: 42px;
}
.taskddl, .task-ddl-time, .datetime,.min-work-time, 
.max-work-time, .extranotes, .content{
	font-size: 13px;
	font-family: 'Quicksand', sans-serif;
}
.taskdescription,.user-name, 
.advance, .danger{
	font-family: 'Quicksand', sans-serif;
}
.advance{
	background-color:#0c837dc9;
	border-radius: 10px;
}
.advance:hover{
	background-color: #0c837d8e;
}
.nav{
	background-color: #991392c9;
	border-radius: 10px;
	font-family: 'Quicksand', sans-serif;
	
}
.nav:hover{
	background-color:rgba(138, 15, 132, 0.507);
}

/* .create-new-task {
    float: left;
	padding-left: 25rem;
	position: absolute; */
	/* padding: auto;
} */

.create-new-task .options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-new-task .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
	display: none;
}

.task-list {
    float: right;
    padding-right: 20rem;
	position: absolute;
	right: 0rem;
}

.list .task-item {
	display: flex;
	align-items: center;
	background-color: var(--light);
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 0.5rem;
}

.task-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.task-item .task-content {
	flex: 1 1 0%;
}

.task-item .task-content input {
	color: var(--dark);
	font-size: 0.8rem;
	border: none;
	outline: none;
	appearance: none;
	background: none;
	cursor: initial;
}

.task-item.done .task-content input {
	text-decoration: line-through;
	color: var(--grey);
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	border: 2px solid var(--school);
	box-shadow: var(--school-glow);
}
.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}
.bubble.other {
	border-color: var(--other);
	box-shadow: var(--other-glow);
}
.bubble::after {
	content: '';
	opacity: 0;
	background-color: var(--school);
	box-shadow: var(--school-glow);
	border-radius: 100px;
	transition: 0.3s ease-in-out;
}
.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble.other::after {
	background-color: var(--other);
	box-shadow: var(--other-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

button,.submit{
	font-family: 'Quicksand', sans-serif;
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	border: none;
	text-align: center;
	font-size: 1rem;
}
.active, .submit:hover {
	background-color: #555;
}
.collapsible {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #e9e5e5;
}
.create-new-task input[type="submit"] {
	text-align: center;
	display: block;
	font-size: 1rem;
	color: #FFF;
	font-weight: 500;
	background-color: var(--dark);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #002d80c4;
}
.danger {
	text-align: center;
	display: block;
	width: 15rem;
	font-size: 1rem;
	color: #FFF;
	font-weight: 500;
	background-color: var(--danger);
	box-shadow: var(--danger-glow);
	border-radius: 0.5rem;
	cursor: pointer;
}

/*
This is the css of help tip (hover/click for more)
*/
.help-tip{
    /* position: absolute;
    top: 18px;
	right: 18px; */
	position: relative;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 6px;
    line-height: 13px;
    cursor: default;
}
.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}
.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}
.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}
.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}
.help-tip p:after{ /* Prevents the tooltip from being hidden hey*/
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
.modal-window {
	position: fixed;
	background-color: #130d0dc2;/* color of the page when the modal is open */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
.modal-window > div {
	width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	/* background: #d1c5dd; purple color for modal */
	background-color: #e2dfd1;
}
.modal-window header {
	font-weight: bold;
}
.modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
}
.modal-close {
	color: #3b3388;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 50px;
	text-decoration: none;
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
}
.modal-close:hover {
	color: black;
}
a {
	color: inherit;
	text-decoration: none;
}
  ​
.container {
	display: grid;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	margin-left: 300px;
	height: 8vh;
}
.modal-window > div {
	border-radius: 1rem;
}
  ​
.modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
}
  ​
small {
	color: lightgray;
}
.btn {
	background-color: #2aa15c;
	padding: 1em 1.5em;
	border-radius: 0.5rem;
	text-decoration: none;
	border: solid black;
	width: 200px;
	text-align: center;
}
.btn i {
	padding-right: 0.3em;
}
#leftbox {
	float:left; 
	/* background:rgba(255, 0, 0, 0.493); */
	width:50%;
	height:280px;
	justify-content: center;
	padding-top: 22px; /* TO ALLIGN OPTIONS WITH TAS LIST */
}

#rightbox{
	float:right;
	/* background:rgb(65, 65, 153); */
	width:50%;
	height:280px;
}
@media (max-width:850px){
	#leftbox{
		padding-top: 20.5px; 
		
	}
}
.btn-add-task{	
	background-color: #abb422ea;
	width: 220px;
	height: 50px;
	padding: 22px;
	text-align: center;
	border-radius: 18px;
	color: white;
	justify-content: center;
}
.btn-time-slot{	
	background-color:#abb422ea;
	width: 220px;
	height: 50px;
	padding: 26px;
	text-align: center;
	border-radius: 18px;
	color: white;
	justify-content: center;
}
.btn-add-task:hover{
	background-color: #cad80d;
	color: black;
}	
.btn-time-slot:hover{
	background-color: #cad80d;
	color: black;
}
#morning, #noon, #evening{
	width: 40px;
	height: 20px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 1px;
	border: none;
	font-size: 14px;
	text-align: center;
}
#modal-root {
	position: fixed;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
	left : 0;
	top: 0;
	width: 0px;
	height : 0px;
	opacity: 0;
	transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
  }
/* add uniformity in input boxes: */
  #content, .content{
	font-size: 14px;
	font-family: 'Quicksand', sans-serif; 
	width: 170px;
	height: 22px;
	border: 1px solid rgb(61, 12, 117);
	border-radius: 7px;
	padding-left: 7px;
  }
  .taskdescription{
	font-size: 14px;
	border: 1px solid rgb(61, 12, 117);
	border-radius: 10px;
	padding-left: 7px;
	padding-top: 4px;

  }
  .duration, .min-work-time{
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	width: 50px;
	border: 1px solid rgb(61, 12, 117);
	border-radius: 7px;
	padding-left: 7px;
	height: 22px;
}
.taskddl, .ddl{
	border: 1px solid rgb(61, 12, 117);
	border-radius: 7px;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	padding-left: 7px;
	height: 22px;
}
.preferences{
	background-color: #7f99c0;
    width: 240px;
    padding: 30px;
	border-radius: 20px;
	justify-content: center;
	margin:auto;
}
.preference-title{
	font-size: 20px;
	text-align: center;
	/* color:rgb(189, 247, 228); */
	color:white;
	background-color: rgb(17, 60, 126);
	border-radius: 40px;
	padding:10px;	
}
.task-title{
	font-size: 45px;
}
.welcome{
	font-size: 20px;
}

