/* Color Customization */
:root {
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
	--school: #40793a;
	--personal: #1662d4;
	--other: #9c109a;
	--light: rgb(219, 211, 211);
	--grey: rgb(95, 95, 95);
	--dark: #3a3a6f;
	--danger: #e45957;
	--school-glow: 0px 0px 4px rgba(78, 237, 20, 0.75);
	--personal-glow: 0px 0px 4px rgba(8, 168, 248, 0.931);
	--other-glow: 0px 0px 4px rgba(248, 8, 232, 0.931);
	--danger-glow: 0px 0px 4px rgba(237, 66, 66, 0.931);
}

body {
	background: var(--light);
	color: var(--dark);
	background-color: #FFFCFF;
    font-family: 'Quicksand', sans-serif;
}
.title{
	background-color: rgba(153, 193, 226, 0.788);;
	width: 220px;
	height: 40px;
	padding-top: 6px;
	text-align: center;
	border-radius: 18px;
	color: white;
}
.hello {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align:center;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
	margin-bottom: 1rem;
	padding: 4px;
}

h4 {
	/* color: var(--grey); */
	color:rgba(20, 9, 119, 0.788);
	padding:8px;
}
#taskPriority, #duration, #difficulty{
	font-size: 12px;
	font-family: 'Quicksand', sans-serif;
	width: 42px;
}
#taskddl, #task-ddl-time, #datetime,#min-work-time, 
#max-work-time, #extranotes, #content{
	font-size: 13px;
	font-family: 'Quicksand', sans-serif;
}
#taskdescription,#user-name, 
.advance, .danger{
	font-family: 'Quicksand', sans-serif;
}
.advance{
	background-color:rgba(12, 131, 125, 0.788);
	border-radius: 10px;
}
.advance:hover{
	background-color: rgba(12, 131, 125, 0.555);
}
.nav{
	background-color: rgba(153, 19, 146, 0.788);
	border-radius: 10px;
	font-family: 'Quicksand', sans-serif;
	
}
.nav:hover{
	background-color:rgba(138, 15, 132, 0.507);
}

.create-new-task {
    float: left;
	padding-left: 25rem;
	position: absolute;
}

.create-new-task .options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-new-task .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
	display: none;
}

.task-list {
    float: right;
    padding-right: 20rem;
	position: absolute;
	right: 0rem;
}

.list .task-item {
	display: flex;
	align-items: center;
	background-color: var(--light);
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 0.5rem;
}

.task-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.task-item .task-content {
	flex: 1 1 0%;
}

.task-item .task-content input {
	color: var(--dark);
	font-size: 0.8rem;
	border: none;
	outline: none;
	appearance: none;
	background: none;
	cursor: initial;
}

.task-item.done .task-content input {
	text-decoration: line-through;
	color: var(--grey);
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	border: 2px solid var(--school);
	box-shadow: var(--school-glow);
}

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble.other {
	border-color: var(--other);
	box-shadow: var(--other-glow);
}

.bubble::after {
	content: '';
	opacity: 0;
	background-color: var(--school);
	box-shadow: var(--school-glow);
	border-radius: 100px;
	transition: 0.3s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble.other::after {
	background-color: var(--other);
	box-shadow: var(--other-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

button,.submit{
	font-family: 'Quicksand', sans-serif;
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	border: none;
	text-align: center;
	font-size: 1rem;
}
  
.active, .submit:hover {
	background-color: #555;
}
  
.collapsible {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #e9e5e5;
}

.create-new-task input[type="submit"] {
	text-align: center;
	display: block;
	font-size: 1rem;
	color: #FFF;
	font-weight: 500;
	background-color: var(--dark);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: rgba(0, 45, 128, 0.767);
}
.danger {
	text-align: center;
	display: block;
	width: 15rem;
	font-size: 1rem;
	color: #FFF;
	font-weight: 500;
	background-color: var(--danger);
	box-shadow: var(--danger-glow);
	border-radius: 0.5rem;
	cursor: pointer;
}

/*
This is the css of help tip (hover/click for more)
*/

.help-tip{
    /* position: absolute;
    top: 18px;
    right: 18px; */
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 6px;
    line-height: 13px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
.modal-window {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.25);/* color of the page when the modal is open */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
  }
  .modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
  }
  .modal-window > div {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	background: rgb(168, 163, 163);
  }
  .modal-window header {
	font-weight: bold;
  }
  .modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
  }
  ​
  .modal-close {
	color: rgb(34, 28, 28);
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
  }
  .modal-close:hover {
	color: black;
  }
  ​
  ​
  ​
  body {
	font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 600;
	color: black;
  }
  ​
  a {
	color: inherit;
	text-decoration: none;
  }
  ​
  .container {
	display: grid;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	height: 8vh;
  }
  ​
  .modal-window > div {
	border-radius: 1rem;
  }
  ​
  .modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
  }
  ​
  small {
	color: lightgray;
  }
  ​
  .btn {
	background-color: rgb(42, 161, 92);
	padding: 1em 1.5em;
	border-radius: 0.5rem;
	text-decoration: none;
	border: solid black;
	width: 200px;
	text-align: center;
  }
  .btn i {
	padding-right: 0.3em;
  }