/* CSS FOR INDEXT.HTML */
.grid-container {
    display: grid;
    grid-template-columns: minmax(80px, auto) repeat(7, minmax(100px, 500px));
    padding-left: 30px;
    padding-right: 30px;
  }
.sch:hover{
    background-color:rgba(32, 57, 167, 0.39);
}
​
.sch-sun:hover{
    background-color:rgba(211, 148, 90, 0.411);
    cursor: pointer;
}
.sch-0:hover{
    background-color:rgba(211, 148, 90, 0.411);
    cursor: pointer;
}
​
.sch-mon:hover{
    background-color:rgba(191, 221, 144, 0.678);
    cursor: pointer;
}
.sch-1:hover{
    background-color:rgba(191, 221, 144, 0.678);
    cursor: pointer;
}
.sch-tue:hover{
    background-color:rgba(116, 196, 192, 0.466);
    cursor: pointer;
}
.sch-2:hover{
    background-color:rgba(116, 196, 192, 0.466);
    cursor: pointer;
}
​
​
.sch-wed:hover{
    background-color:rgba(176, 170, 230, 0.514);
    cursor: pointer;
}
.sch-3:hover{
    background-color:rgba(176, 170, 230, 0.514);
    cursor: pointer;
}
​
​
.sch-thu:hover{
    background-color:rgba(211, 160, 207, 0.452);
    cursor: pointer;
}
.sch-4:hover{
    background-color:rgba(211, 160, 207, 0.452);
    cursor: pointer;
}
​
​
.sch-fri:hover{
    background-color:rgba(231, 230, 164, 0.603);
    cursor: pointer;
}
.sch-5:hover{
    background-color:rgba(231, 230, 164, 0.603);
    cursor: pointer;
}
​
​
.sch-sat:hover{
    background-color:rgba(141, 167, 223, 0.534) ;
    cursor: pointer;
}
.sch-6:hover{
    background-color:rgba(141, 167, 223, 0.534) ;
    cursor: pointer;
}
​
​
.grid-item {
    background-color: rgba(214, 219, 228, 0.37);
    border: 0.01px solid rgba(0, 0, 0, 0.144);
    text-align: center;
    padding-top: 20px;
    height: 40px;
}
​
.pos{
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(66, 77, 138, 0.158);    
}
.head{
    background-color: rgb(40, 73, 143)  ; 
    color: white;
    font-family: 'Quicksand', sans-serif; /* fantasy is other font,,, 'Merriweather' comp type: 'Courier New' */
    font-size: 16px;
    /*Just for the days */
    /* border: hidden; */
}
​
#title{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-top: 40px;
    /* padding-bottom: 20px; */
    font-size: 40px;
}
@media (max-width: 700px) {
    #title{
        font-family: 'Quicksand', sans-serif;
        padding-top: 40px;
        /* padding-bottom: 20px; */
        font-size: 40px;
    }    
​
}
footer{
​
        bottom: 40px;
        padding-top: 20px ;
        text-align: center;
        position: relative;
        height: 50px;
        font-family: 'Quicksand', sans-serif;
        color: gray;
}
h4{
    font-family: 'Quicksand', sans-serif;
    color: gray;
    padding-left: 70px;
}
.time{
    background-color: rgba(77, 109, 179, 0.705)  ; 
    font-family: 'Quicksand', sans-serif; 
    font-size: 16px;
}
.monthy{
    /* background-color: rgba(77, 109, 179, 0.507)  ;  */
    font-family: 'Quicksand', sans-serif; 
​
    margin-left: 30px;
    margin-bottom: 15px;
    height: 80px;
    width: 240px;
    border-radius: 16px;
    align-items: center;
    /* border: black solid; */
​
}
.y{
    font-family: 'Quicksand', sans-serif; 
    color: rgba(77, 109, 179, 0.705)   ; 
    text-align: center;
    /* color:white; */
    font-size: 28px;
    margin-bottom: 6px;
    padding: 0; 
}
​
/* WORKING ON THIS ONE FOR THE DAYS OF THE WEEK */
 .x{
     font-size: 19px;
    padding: 0; margin: 0;
    text-align: center;
    color:white;
    background-color: rgba(77, 109, 179, 0.705) ;
    border-radius: 20px;
    width: 150px;
    margin-left: 40px; 
    
} 